.table-wrapper {
  width: 100%;
}

.table {
  display: block;
  table-layout: fixed;
  white-space: nowrap;
  width: 100em;
  height: 90em;
  max-width: 80%;
  margin: auto;
  border-spacing: 0 10px;
}

td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
}

td:last-child,
th:last-child {
  border-radius: 0 5px 5px 0;
}

.table thead {
  color: #1d1a1a;
  font-size: large;
  text-align: left;
}

.table th,
.table td {
  padding: 10px;
}

.table td {
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
  text-align: left;
  color: #1d1d1d;
}

.label {
  padding: 0.3rem;
  color: white;
}

.label-female {
  color: #42a942;
}

.label-male {
  color: #d9534f;
}

.actions {
  display: flex;
  justify-content: space-around;
  color: #42a942;
  cursor: pointer;
}

.image {
  height: 40;
  width: 40px;
  background-color: #4e4e4e;
  border-radius: 8px;
  border: 2px solid rgb(230, 230, 230);
  box-shadow: 2px 2px 4px #ccc;
}

.email {
  color: gray;
}

.customer {
  display: inline-block;
}

.text-wrapper {
  margin-left: 10px;
}

.text-wrapper h4 {
  margin: 0 0 5px 0;
}
