* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e6e6e6;
}

.btn {
  margin-top: 1rem;
  border: none;
  background-color: #064c3a;
  color: #fff;
  padding: 20px 35px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100em;
  max-width: 80%;
}

.heading {
  margin-right: auto;
}

.btn {
  margin-left: 10px;
}

.btn:hover {
  background-color: green;
}
